<launch>
    <arg name="use_joystick" default="false" />
    <arg name="robot_name" default="diago"/>
    <arg name="map_name" default="DISB1" />
    <arg name="initial_pose_x" default="0.0" />
    <arg name="initial_pose_y" default="0.0" />
    <arg name="initial_pose_a" default="0.0" />
    <arg name="laser_topic" default="scan"/>
    <arg name="laser_frame" default="laser_frame"/>
    <arg name="follow_person" default="true" />
	

    <!-- map_server -->
    <node pkg="map_server" type="map_server" name="map_server" args="$(find stage_environments)/maps/$(arg map_name).yaml" respawn="false" >
      <param name="frame_id" value="/map" />
    </node>

    <group ns="$(arg robot_name)">
    <param name="tf_prefix" value="$(arg robot_name)" />


	  <group if="$(arg use_joystick)">
	      <node pkg="joy" type="joy_node" name="joy" output="screen">
		  <param name="dev" type="string" value="/dev/input/js0" />
		  <param name="deadzone" value="0.12" />
	      </node>
	      <node pkg="gradient_based_navigation" name="joystick_control" type="joystick_control" output="screen"/>
	  </group>
	  <group unless="$(arg use_joystick)">
	      <node pkg="gradient_based_navigation" name="keyboard_control" type="keyboard_control" output="screen" />
	  </group>
	  <node name="glocalizer" pkg="glocalizer" type="glocalizer_node" output="screen">

	    <remap from="static_map" to="/static_map" />
	    <param name="particles" type="int" value="5000"/>

	    <!-- Override Frame Params to include prefix -->
	    <param name="laser_topic" value="$(arg laser_topic)"/>
	    <param name="base_frame_id" value="/$(arg robot_name)/base_frame"/>
	    <param name="odom_frame_id" value="/$(arg robot_name)/odom"/>
	    <param name="global_frame_id" value="/map"/> <!--common map frame for all robots -->

	    <!-- Set initial pose -->
	    <param name="initial_pose_x" value="$(arg initial_pose_x)" />
	    <param name="initial_pose_y" value="$(arg initial_pose_y)" />
	    <param name="initial_pose_a" value="$(arg initial_pose_a)" />
	    <param name="initial_cov_xx" value="0.25" />
	    <param name="initial_cov_yy" value="0.25" />
	    <param name="initial_cov_aa" value="0.25" />
	</node>

	
	<node pkg="gradient_based_navigation" name="gradientBasedNavigation" type="gradient_based_navigation" args="80"  output="screen">
		<param name="GUI" value="true" />
		<param name="attractiveDistanceInfluence_m" value="0.5" />
		<param name="obstaclesDistanceInfluence_m" value="1.0" />
		<param name="laser_frame" value="/$(arg robot_name)/$(arg laser_frame)" />
		<remap from="base_scan" to="$(arg laser_topic)" />
	</node>

	  <node pkg="rococo_navigation" name="turn" type="turn_node" args="-server $(arg robot_name)"  output="screen">
	    <remap from="cmd_vel" to="desired_cmd_vel" />
	  </node>
	  
	  <node pkg="rococo_navigation" name="follow_corridor" type="follow_corridor_node" args="-server $(arg robot_name)"  output="screen">
	    <remap from="cmd_vel" to="desired_cmd_vel" />
	  </node>

	  
	  <group if="$(arg follow_person)">
	    <node pkg="laser_analysis" name="laserobstacle" type="laserobstacle" args="-gui"  output="screen">
		<remap from="scan" to="$(arg laser_topic)" />
		<param name="laser_frame_id" value="/$(arg robot_name)/$(arg laser_frame)" />
	    </node>

	    <node pkg="rococo_navigation" name="follow_person" type="follow_person_node" args="-server $(arg robot_name)"  output="screen">
	      <remap from="cmd_vel" to="desired_cmd_vel" />
	    </node>
	  </group>


    
	</group>
	
</launch>

