<launch>
    <arg name="robot_name" default="diago"/>
    <arg name="map_name" default="DISB1" />
    <arg name="initial_pose_x" default="0.0" />
    <arg name="initial_pose_y" default="0.0" />
    <arg name="initial_pose_a" default="0.0" />
    <arg name="base_frame" default="base_frame" />
    <arg name="laser_topic" default="scan"/>
    <arg name="laser_frame" default="laser_frame"/>
    <arg name="use_amcl" default="true"/>
    <arg name="use_glocalizer" default="false"/>
    <arg name="use_move_base" default="true"/>


    <!-- map_server -->
    <node pkg="map_server" type="map_server" name="map_server" args="$(find stage_environments)/maps/$(arg map_name).yaml" respawn="false" >
      <param name="frame_id" value="/map" />
    </node>

    <group ns="$(arg robot_name)">
    <param name="tf_prefix" value="$(arg robot_name)" />

      <!-- AMCL -->
    
      <group if="$(arg use_amcl)">
    
	<node pkg="amcl" type="amcl" name="amcl" respawn="true">
    
	  <remap from="scan" to="$(arg laser_topic)"/>
	  <remap from="static_map" to="/static_map" />

	  <!-- Default parameters -->
	  <rosparam file="$(find diago_setup)/config/localization/amcl.yaml" command="load" />
	  
	  <!-- Override Params to include prefix -->
	  <param name="base_frame_id" value="/$(arg robot_name)/base_frame"/>
	  <param name="odom_frame_id" value="/$(arg robot_name)/odom"/>
	  <param name="global_frame_id" value="/map"/> <!--common map frame for all robots -->

	  <!-- Set initial pose -->
	  <param name="initial_pose_x" value="$(arg initial_pose_x)" />
	  <param name="initial_pose_y" value="$(arg initial_pose_y)" />
	  <param name="initial_pose_a" value="$(arg initial_pose_a)" />
	  <param name="initial_cov_xx" value="0.25" />
	  <param name="initial_cov_yy" value="0.25" />
	  <param name="initial_cov_aa" value="0.25" />
	
	</node>

      </group>
    
    
      <!-- glocalizer -->

      <group if="$(arg use_glocalizer)">
    
        <node name="glocalizer" pkg="glocalizer" type="glocalizer_node" output="screen">

	    <remap from="static_map" to="/static_map" />
	    <param name="particles" type="int" value="5000"/>

	    <!-- Override Frame Params to include prefix -->
	    <param name="laser_topic" value="$(arg laser_topic)"/>
	    <param name="base_frame_id" value="/$(arg robot_name)/base_frame"/>
	    <param name="odom_frame_id" value="/$(arg robot_name)/odom"/>
	    <param name="global_frame_id" value="/map"/> <!--common map frame for all robots -->

	    <!-- Set initial pose -->
	    <param name="initial_pose_x" value="$(arg initial_pose_x)" />
	    <param name="initial_pose_y" value="$(arg initial_pose_y)" />
	    <param name="initial_pose_a" value="$(arg initial_pose_a)" />
	    <param name="initial_cov_xx" value="0.25" />
	    <param name="initial_cov_yy" value="0.25" />
	    <param name="initial_cov_aa" value="0.25" />
	</node>
    
      </group>
     
      <!-- move_base -->

      <group if="$(arg use_move_base)">
        <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
		<remap from="map" to="/map" />
		<remap from="odom" to="odom" />
		<remap from="cmd_vel" to="cmd_vel" />

		<rosparam file="$(find diago_setup)/config/navigation/move_base_params.yaml" command="load" />
		<rosparam file="$(find diago_setup)/config/navigation/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find diago_setup)/config/navigation/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find diago_setup)/config/navigation/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find diago_setup)/config/navigation/global_costmap_params.yaml" command="load" />
		<rosparam file="$(find diago_setup)/config/navigation/base_local_planner_params.yaml" command="load" />
		
		<!-- Override MOVE_BASE Frame Params to include prefix -->
		<param name="global_costmap/laser_scan_sensor/sensor_frame" value="/$(arg robot_name)/$(arg laser_frame)"/>
		<param name="global_costmap/laser_scan_sensor/topic" value="/$(arg robot_name)/$(arg laser_topic)"/>
		<param name="global_costmap/robot_base_frame" value="/$(arg robot_name)/$(arg base_frame)"/>   
		<param name="local_costmap/global_frame" value="/$(arg robot_name)/odom"/>
		<param name="local_costmap/laser_scan_sensor/sensor_frame" value="/$(arg robot_name)/$(arg laser_frame)"/>
		<param name="local_costmap/laser_scan_sensor/topic" value="/$(arg robot_name)/$(arg laser_topic)"/>
		<param name="local_costmap/robot_base_frame" value="/$(arg robot_name)/$(arg base_frame)"/> 
	</node>
      </group>
 
 
 
     <node pkg="laser_analysis" name="laserobstacle" type="laserobstacle" args="-gui"  output="screen">
        <param name="laser_frame_id" value="/$(arg robot_name)/$(arg laser_frame)" />
        <param name="map_distance" value="0.5" />
     </node>


    </group>

</launch>

