<launch>

<arg name="robot_name" default="diago" />

<arg name="plan_folder" value="$(find hri_pnp)/plans" />
<arg name="PNPGUI" default="false" />

<group ns="$(arg robot_name)">

    <param name="robot_name" value="$(arg robot_name)" />

    <node pkg="pnp_ros" type="pnp_node" name="pnp" args="" output="screen">
        <param name="plan_folder" value="$(arg plan_folder)" />
        <param name="current_plan" value="stop" />
        <param name="use_java_connection" value="$(arg PNPGUI)" />
    </node>

    <node pkg="hri_pnp" type="hri_pnpas" name="hri_pnpas" args="" output="screen">      
    </node>

    <node pkg="hri_pnp" type="gest_recog_node" name="gesture_recognition" output="screen">
    </node>

    <node pkg="tcp_interface" type="tcp_interface" name="tcp_interface" args="" output="screen">
        <param name="TCP_server_port" value="9000"/>
        <param name="UDP_server_port" value="9100"/>
        <param name="network_interface" value="wlan0"/>
        <param name="UDP_team_min_port" value="9100"/>
        <param name="UDP_team_max_port" value="9110"/>
        <param name="config_file" value="$(find tcp_interface)/config/UDPpeers.cfg"/>    
    </node>

    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
       <param name="video_device" value="/dev/video0" />
       <param name="image_width" value="640" />
       <param name="image_height" value="480" />
       <param name="pixel_format" value="yuyv" />
       <param name="camera_frame_id" value="usb_cam" />
       <param name="io_method" value="mmap"/>
       <param name="framerate" value="15" />
     </node>

</group> <!-- ns -->

</launch>
